<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
	<a href="/add-drug">
		<button id="new">New Drug <i class="fas fa-pills"></i></button>
	</a>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Drug Name</th>
      <th>Card</th>
      <th>Pack</th>
      <th>Per Day</th>
      <th>Dosage</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% drugs.forEach((drug, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= drug.name %></td>
        <td><%= drug.card %></td>
        <td><%= drug.pack %></td>
        <td><%= drug.perDay %></td>
        <td><%= drug.dosage %></td>
        <td>
          <a href="/update-drug?id=<%= drug._id %>">
            <i class="fa fa-edit"></i>
          </a>
          <a href="javascript:void(0)" class="delete" data-id="<%= drug._id %>">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer